@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

#uber-app .MuiChip-root {
  font-weight: 700;
}

#uber-app .Mui-selected {
  color: #b887fc
}